- @posts.each do |post|
    .post
        = image_tag post.avatar
        .post-info
            %h3= link_to post.title, post
            %small
                .post-date
                    = post.created_at.strftime('%m.%d.%y')
= will_paginate @posts